@model WebAppSearchGitHub.Models.GitHubRepositoriesModel

<div id="bookmarks">
@if (Model.IsBookmarksExists)
{
    <hr class="mt-2 mb-5">
    <div class="row">
        <button type="button" class="btn btn-primary btn-bookmark">
            @Ajax.ActionLink("Delete all bookmarks", "DeleteAllBookmarks", new AjaxOptions { UpdateTargetId = "bookmarks", HttpMethod = "POST" })
        </button>
    </div>
}

<hr class="mt-2 mb-5">
<div class="row text-center text-lg-left">
    @if (Model.IsBookmarksExists)
    {
        foreach (var repos in @Model._repositories)
        {
            <div class="col-md-3">
                <div class="thumbnail">
                    <a class="btn btn-default repos-info-name" role="button" href="@repos.RepositoryUrl">@repos.RepositoryName</a>
                    <a href="@repos.OwnerGitHubUrl">
                        <img src="@repos.OwnerImageUrl" class="thumbnail-owner-image">
                    </a>
                    <button type="button" class="btn btn-primary btn-bookmark">
                        @Ajax.ActionLink("Delete bookmark", "DeleteBookmark", new { repositoryId = repos.RepositoryID }, new AjaxOptions { UpdateTargetId = "bookmarks" })
                    </button>
                </div>
            </div>
        }
    }
</div>
</div>


